
.ng-hide {
    display: none;
}

.page-login {
    /* margin-top: 50px;
        height: 88%;
           */
    /*margin-top: 30px;*/
}

.intro-text {
    text-align: left;
}

.vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.services_row {
    float: left;
    width: 100%;
    /*background: #f8f8f8;*/
    background: #DDDDDD;
    border-bottom: 2px solid #ccc;
    margin-bottom: 20px;
}

    .services_row .functionBox:hover .functionIcon {
        background: #1051a2;
    }

.functionList_2 .functionBox .functionIcon span {
    line-height: inherit;
}

.functionList_2 .functionBox {
    padding: 10px 0 5px 0;
}

    .functionList_2 .functionBox .functiontitle {
        font-size: 16px;
        color: #666666;
        vertical-align: middle;
        font-weight: bold;
        padding: 10px 0px 5px;
        margin: 0px;
        text-align: center;
        text-transform: uppercase;
    }

        .functionList_2 .functionBox .functiontitle span {
            font-weight: normal;
            color: #999999;
            display: block;
            font-size: 13px;
            margin: -3px 0px 0px;
            padding: 0px;
        }

    .functionList_2 .functionBox .functionMain {
        padding: 5px 0px 3px 0px;
        text-align: center;
        vertical-align: top;
        clear: both;
    }

    .functionList_2 .functionBox .functionIcon {
        width: 95px;
        height: 95px;
        line-height: 95px;
        font-size: 34px;
        color: #666666;
        background: #eeeeee;
        /*background: #DDDDDD;*/
        text-align: center;
        margin: auto;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        transition: background-color ease-in 200ms;
        -moz-transition: background-color ease-in 200ms; /* Firefox 4 */
        -webkit-transition: background-color ease-in 200ms; /* Safari and Chrome */
        -o-transition: background-color ease-in 200ms; /* Opera */
        -ms-transition: background-color ease-in 200ms; /* IE9? */
    }

        .functionList_2 .functionBox .functionIcon span {
            line-height: inherit;
        }

    .functionList_2 .functionBox:hover .functionIcon {
        color: #FFF;
    }

.services_row a.Button_green2, .login_learn_more {
    padding: 7px 20px;
    margin: 5px 10px 0px 10px;
    position: relative;
    font-size: 18px;
    display: inline-block;
    white-space: nowrap;
    margin-bottom: 10px;
    color: #FFFFFF !important;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    transition: background-color ease-in 200ms;
    -moz-transition: background-color ease-in 200ms;
    -webkit-transition: background-color ease-in 200ms;
    -o-transition: background-color ease-in 200ms;
    -ms-transition: background-color ease-in 200ms;
    background: #1051a2;
}

    .services_row a.Button_green2:hover {
        text-decoration: none;
        /*background: #555555;*/
    }

.right_login_sec {
    width: 358px;
    margin: 0 auto;
}

#forgotError .alert {
    margin-bottom: 0;
}

.services_row .functionList_2 a:hover .functionBox {
    background: #1051a2;
}

    .services_row .functionList_2 a:hover .functionBox span,
    .services_row .functionList_2 a:hover .functionBox p {
        color: #fff !important;
    }

.services_row .functionList_2 a:hover .functionIcon {
    background: #eeeeee;
}

.services_row .functionList_2 a:hover .functionBox span.fa-truck {
    color: #1051a2 !important;
}

.icon-fleetbase {
    margin-bottom: -40px;
    width: 206px;
    height: 54px;
    background-image: url(/Images/FB_grayRD_blueRGB.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.footer {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

div#geotrustseal {
    float: right;
}

.NECS_Welcome {
    font-weight: 600;
    font-size: 20px;
}

    .NECS_Welcome b {
        font-weight: 900;
    }

.NECS_WELCOME_DIV {
    margin-top: 70px;
    width: 66%;
}

    .NECS_WELCOME_DIV h2 {
        font-size: 30px;
        font-family: Calibri;
        margin-bottom: 15px;
        color: rgba(92,103,112,1);
        white-space: nowrap;
    }

.NECS_SUB_Content {
    font-size: 20px;
}

.Necs_Main {
    width: 100%;
    display: flex;
}

    .Necs_Main .left_section {
        width: 50%;
        min-height: 100%;
        background: #f5f5f6;
        position: relative;
        padding: 16vh 0;
        height: 100vh;
    }

    .Necs_Main .right_section {
        padding: 3vh 53px;
        width: 50%;
        min-height: 100%;
        background: rgba(218,230,242,1);
        background: -moz-linear-gradient(top, rgba(218,230,242,1) 0%, rgba(226,235,245,1) 2%, rgba(68,126,187,1) 66%, rgba(27,98,173,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(218,230,242,1)), color-stop(2%, rgba(226,235,245,1)), color-stop(66%, rgba(68,126,187,1)), color-stop(100%, rgba(27,98,173,1)));
        background: -webkit-linear-gradient(top, rgba(218,230,242,1) 0%, rgba(226,235,245,1) 2%, rgba(68,126,187,1) 66%, rgba(27,98,173,1) 100%);
        background: -o-linear-gradient(top, rgba(218,230,242,1) 0%, rgba(226,235,245,1) 2%, rgba(68,126,187,1) 66%, rgba(27,98,173,1) 100%);
        background: -ms-linear-gradient(top, rgba(218,230,242,1) 0%, rgba(226,235,245,1) 2%, rgba(68,126,187,1) 66%, rgba(27,98,173,1) 100%);
        /*background: linear-gradient(to bottom, rgba(218,230,242,1) 0%, rgba(226,235,245,1) 2%, rgba(68,126,187,1) 66%, rgba(27,98,173,1) 100%);*/
        background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 12%, #ebf3fb 30%, #094fa3 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dae6f2', endColorstr='#1b62ad', GradientType=0 );
    }


.Necs_Welcome_Comment {
    width: 100%;
    border-radius: 12px;
    padding: 25px;
}

    .Necs_Welcome_Comment .login_learn_more {
        margin-top: 20px !important;
    }

    .Necs_Welcome_Comment p {
        color: rgba(92,103,112,1);
        font-size: 22px;
        font-family: Calibri;
        margin-bottom: 15px;
    }

.Necs_Login_Panel {
    border-radius: 0 !important;
    margin-bottom: 0 !important;
    border: 0;
    box-shadow: 0 4px 4px rgba(0,0,0,0.5) !important;
}




.Services {
    padding-left: 0px !important;
    padding-right: 20px !important;
    margin-bottom: 70px;
    margin-top: 54px;
}

    .Services .rowData {
        margin-right: 0.9px !important;
    }

    .Services .functionList_2 .functionBox {
        padding: 65px 0 !important;
    }

.sign_in_button {
    background-color: #1051A2 !important;
    border-color: #1051A2 !important;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #fff inset !important;
}

.login_body .footer {
    position: absolute;
    bottom: 18px;
    width: 100%;
}

    .login_body .footer p {
        font-size: 13px;
        text-align: center;
    }


.login_body .left_section .icon-fleetbase {
    margin: 0 auto 30px;
}

#Login {
    margin: 0;
}

.necs_right_logo img {
    width: 185px;
}

.logo-row {
    display: flex;
}

    .logo-row i {
        color: rgba(92,103,112,1);
        font-size: 21px;
        line-height: 39px;
        display: block;
        width: 40px;
        text-align: center
    }

.login_form_error {
    position: absolute;
    width: 100% !important;
    left: 0;
    z-index: 999;
}

.icon-fleetbase_logo {
    text-align: center;
}

.menu-unit-search-input {
    display: flex;
}

#forgetPassword {
    margin: 0;
}


@media only screen and (max-width: 767px) {
    .Necs_Main .right_section {
        display: none;
    }

    .Necs_Main .left_section {
        width: 100%;
    }

    .right_login_sec {
        width: 92%;
    }

    .Necs_Main .left_section {
        padding-top: 9vh;
    }

    .login_body .footer {
        text-align: center;
    }

        .login_body .footer span {
            float: none !important;
        }

        .login_body .footer .NECS_FOOTER_RIGHT_CONTENT, #geotrustseal {
            display: none;
        }

    .login_body .sign_in_button {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .necs_right_logo img {
        width: 115px;
    }

    .icon-fleetbase_logo img {
        width: 200px !important;
        height: auto !important;
    }

    .Necs_Main .right_section {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
}
