
.icon-fleetbase {
    margin-bottom: -40px;
    width: 206px;
    height: 54px;
    background-image: url(/Images/FB_grayRD_blueRGB.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.sign_in_button {
    background-color: #1051A2 !important;
    border-color: #1051A2 !important;
    width: 100%;
    margin-top: 30px;
}

.reset_box {
    width: 400px;
    margin: 99px auto;
    max-width:100%;
}

.reset_box  .icon-fleetbase {
    margin-bottom: 30px !important;
    margin: 0 auto;
}

.reset_box .ibox-content {
    box-shadow: 0 4px 4px rgba(0,0,0,0.5) !important;
    padding: 15px;
    border: 1px solid #ddd;
    background:#fff;
}

.reset_box  .copy_right {
    text-align:center;
    margin-top: 30px;
}

.reset_box .pass_length {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.form_bg {
    background-color: #f5f5f6 !important;
}