.padding-bw {
    padding-bottom: 5px;
}

.Tripitle {
    text-align: left;
    padding-left: 10px;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.comment-div {
    padding-right: 16px;
    padding-left: 10px;
}

.divAction-Align {
    float: right;
    padding-right: 23px;
}

.align-right {
    float: right;
    padding-right: 10px;
}

#TripDetailPopup .k-content div, #TripDetailPopup .k-content label {
    box-sizing: border-box;
}

.actionsBtns {
    width: 100%;
    display: inline-block;
    margin: 0px 0;
}

#TripDetailsTabstrip-1 {
    display: block;
    height: 286px;
    overflow-x: hidden;
    padding-right: 0;
    padding-top: 0;
}

#TripDetailsTabstrip-4 {
    overflow-x: hidden;
}

#TripDetailsTabstrip-3 {
    overflow-x: hidden;
}

#TripDetailsTabstrip-2 {
    overflow-x: hidden;
}

.up-dwn {
    min-width: 24px !important;
    padding: 5px 0px 4px 1px !important;
}

/*.TripDetailUnitCls .k-icon {
    background-image: url('/../../Images/sprite.png') !important;
    border-color: transparent;
}*/

#TripDetailGrid .k-grid-content {
    height: 258px;
}
/*images*/
.dropZoneElement {
    display: inline-block;
    background-color: #f8f8f8;
    border: 1px solid #c7c7c7;
    width: 94%;
    height: 50px;
    text-align: center;
    padding-left: 0px;
    border-radius: 8px;
    margin-top: 14px;
    margin-bottom: 18px;
    margin-left: 33px;
}

.textWrapper {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    font-size: 24px;
    line-height: 1.2em;
    font-family: Arial,Helvetica,sans-serif;
    color: #000;
}

.dropImageHereText {
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
}

.product {
    float: left;
    position: relative;
    margin: 10px 35px 15px 18px;
    padding: 0;
}

    .product img {
        width: 134px;
        height: 160px;
        border-radius: 6px;
        margin-left: 46px;
    }

.wrapper:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.k-widget.k-upload.k-header.k-upload-empty {
    margin-left: 33px;
    margin-right: 22px;
}

.k-widget.k-upload.k-header {
    margin-left: 33px;
    margin-right: 22px;
}

.Product-grid {
    padding: 26px 0px 206px 0px;
    background-color: #bbbbbb;
    width: 282px;
    max-width: 262px;
    height: 206px;
    border-radius: 8px;
    display: inline-block;
    margin-left: 35px;
}

.alignUserData {
    float: left;
    padding-left: 10px;
    font-weight: 600;
    position: relative;
}
/*image CSS*/
div.image_container {
    width: 260px;
    height: 110px;
    text-align: center;
    position: relative;
}

li.checkitem_imagelist {
    position: relative;
}

    li.checkitem_imagelist ul {
        width: 100%;
        height: 100%;
    }

.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}

#DefaultPopup .panel-body {
    padding: 3px 5px 2px 5px;
}

ul.image_list li {
    border: 1px solid;
    padding: 0 5px;
    margin: 0 0 2px 5px;
    width: 30.5%;
    border-radius: 10px;
    background: url('../../Images/White_Alpha_60.png') !important;
    -moz-border-radius: 10px;
}

.list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

ul {
    list-style: none;
}

    ul.image_list li img {
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        max-width: 100%;
        max-height: 100%;
    }

a.necs_link_button {
    color: #FFFFFF;
    background: #555555;
    border: 1px solid #333333;
    padding: 4px 10px 2px 10px;
    margin: 3px;
    display: inline-block;
    border-radius: 5px;
    -moz-border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
}

#TripDetailsTabstrip ul li.k-state-active {
    border-bottom: 0px;
}

ul.k-reset.k-tabstrip-items {
    position: relative;
    bottom: -1px;
}

#DefaultPopup .panel-heading {
    /*background-color: #004fa3;
    border: 1px solid #004fa3;*/
    background-image: none,linear-gradient(to bottom,rgba(255,255,255,.3) 0,rgba(255,255,255,0) 100%);
    background-position: 50% 50%;
    background-repeat: repeat;
    border-radius: 6px;
    margin-bottom: 10px;
    padding: 0px;
    border-bottom: none;
}

.necs_drop_file {
    font-style: italic;
    font-size: 14px;
    color: #bbbbbb;
}

#FuelDetailTable .tab-content {
    padding: 0;
    border: 0;
    margin-bottom: 0;
}

#TripDetailsTabstrip-4 {
    height: 368px;
    overflow-x: hidden;
    padding-right: 0;
    padding-top: 0;
}

.tab-content table td, .tab-content table th {
    padding: 4px !important;
}

#colorbox {
    z-index: 9999;
}

.IsRouteUnknownlbl {
    float: left;
    padding-left: 16px;
}

a.necs_close_button {
    float: right;
    color: #337ab7;
}

    a.necs_close_button > i {
        font-size: 30px;
    }

#checkid .panel-heading {
    background-color: #004FAD;
    border-radius: 5px;
}
