@inherits LayoutComponentBase
@inject NavigationManager _navigationManager
@inject IJSRuntime js
<TelerikRootComponent>
    <div class="k-necs1">
        <div class="page">
          
            <div class="main">

                <div class="content px-4">
                    @Body
                </div>
            </div>
        </div>
    </div>
</TelerikRootComponent>

@code
{

  
}