@inherits LayoutComponentBase
@inject NavigationManager _navigationManager
@inject IJSRuntime js
@inject IIndexedDbFactory DbFactory
@using Client.Model
@using Client.Pages

<TelerikRootComponent>
        <div class="k-necs1">

            <div class="page">
                <div class="sidebar">
                    <NavMenu />
                </div>

                <div class="main">
                    <div class="top-row px-4">
                        <UserStatus />
                    </div>
                    <div class="content px-4">
                        @Body
                    </div>
                </div>
            </div>
        </div>
    </TelerikRootComponent>
    <Confirm @ref="ShowTimer" ConfirmationTitle=@($"Timeout Popup ")
             ShowDeleteButton="false"
             ConfirmationMessage=@($"Going to Timeout in ")>
    </Confirm>
@code
{

    List<Student> Students = new List<Student>();

    protected ConfirmBase ShowTimer { get; set; }

    protected async override Task OnInitializedAsync()
    {
        using (var db = await this.DbFactory.Create<ContextDb>())
        {
            Students = db.Student.ToList();
            if (Students.Count() == 0)
            {
                db.Student.Add(new Student()
                {
                    FirstName = "Achal",
                    LastName = "Parashar"
                });
                await db.SaveChanges();
            }

            Students = db.Student.ToList();
        }

        await js.InitializeInactivityTimer(DotNetObjectReference.Create(this));
    }


    [JSInvokable]
    public async void ClosePopup()
    {

        await js.InitializeInactivityTimer(DotNetObjectReference.Create(this));
        ShowTimer.Hide();
    }

    [JSInvokable]
    public void TimerPopup()
    {
        ShowTimer.Show();
    }


}